#main{
    background-color: #eee;
}
#head{
    background-color: white;
}
#title{ display: flex;
    flex-direction: column;
    align-items: center;
}

#subtitle{ display: flex;
    flex-direction: column;
    align-items: center;
}

#image {
    max-width: 100%;
    height: auto;
   
    
 }
#img-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#tribute-info{
    display: flex;
    flex-direction: column;
    align-items: center;
}
